.about {
    &-map {
        background: $secondary-color;
        color: $primary-color;
        font-size: 1.5rem;
        text-align: center;
        font-family: "Helvetica LT Std Light";
        padding-top: 5%;
    }
    &-map-img {
        height: 100%;
        width: 90%;
    }

}

.mission {
    background: $primary-color;
    font-family: "Futura Std Light";
    &-p{
        color: $secondary-color;
        font-size: 1.5rem;
        text-align: justify;
        margin: 8%;
        padding: 5%;
    }
}
.region {
    text-align: center;
    font-family: "Futura Std Light";
    background: $secondary-color;
    &-p {
        text-align: justify;
        color: $primary-color;
        font-size: 1.7rem;
        margin: 5%;
    }
    &-img {
        width: 60%;
    }
}

.ieee-hsb {
    text-align: center;
    font-family: "Futura Std Light";
    background: $primary-color;
    &-p {
        text-align: justify;
        color: $secondary-color;
        font-size: 1.7rem;
        margin: 5%;
        padding-bottom: 5%;;
    }
    &-img {
        width: 75%;
    }
}

.officers {
    text-align: center;
    background: $secondary-color;
    &-h1 {
        color: $primary-color;
        font-family: "Helvetica LT Std";
        font-size: 6rem;
        font-weight: lighter;
        font-style: normal;
    }
    &-img {
        border-radius: 50%;
        height: 70%;
        width: 60%;
    }
    &-role {
        font-family: "Futura Std";
        color: #01528F;
        font-size: 2.5rem;
    }
    &-name {
        font-family: "Futura Std";
        color: #231F20;
        font-size: 2rem;
    }
}

.highboard {
    text-align: center;
    background-color: $primary-color;
    &-img {
        height: 75%;
        width: 75%;
    }
    &-h1 {
        color: $secondary-color;
        font-family: "Helvetica LT Std";
        font-size: 5.8rem;
        font-weight: lighter;
        font-style: normal;
    }
}