// start nav
header {
    background-color: $main_color;
    z-index: 999;
    position: fixed;
    height: auto;
    // start branding
    .site-branding {
        img {
            height: auto;
        }
        @include breakpoint($bp-desktop){
            margin-top: 10px;
        }
    }
    // start navigation
    .site-navigation {
        ul {
            display: none;
            li {
                display: block;
                border-bottom: 1px solid $white;
                a {
                    display: block;
                    text-align: left;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    @include transition-time(0.5s, ease-in-out);
                    color: #fff
                }
            }

            .menu-item-has-children {
                ul {
                    display: none;
                    width: 100%;
                    li {
                        padding-left: 20px;
                        border: none !important;
                        background-color: $main_color;
                        a{
                            border-top:1px solid $white;
                        }
                    }
                }
                &:active,
                &:focus,
                &:hover {
                    ul {
                        display: block;
                    }
                }
            }

            @include breakpoint($bp-desktop) {
                display: block;
                float: right;
                li {
                    display: inline-block;
                    border-bottom: none;
                    &:not(:last-child) {
                        border-right: 1px solid $white;
                    }
                    @include transition-time(0.5s, ease-in-out);
                    &:hover,
                    &:focus {
                        background-color: $main_color;
                        border-color: $white;
                        a {
                            color: $white;
                        }
                    }
                }

                .menu-item-has-children {
                    position: relative;
                    ul {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: none;
                        width: max-content;
                        li {
                            display: block;
                            border: 1px solid $white;
                            width: 100%;
                            a {
                                padding: 5px 40px;
                                color: $white;
                            }

                        }
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        ul {
                            display: block;
                            li {
                                a {
                                    color: #fff
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        background: transparent;
        padding-top: 5px;
        border: 1px solid $white;
        color: $white;
        @include breakpoint($bp-desktop) {
            display: none;
        }
    }
}



header.sticky {
    .site-navigation {
        ul {
            .menu-item-has-children {
                ul {
                    li {
                        background: $main_color;
                        text-align: left;
                        a {
                            color: $white;
                        }
                        &:hover,
                        &:focus {
                            li {
                                background: $main_color !important;
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}