//susy configurations
$susy: ( // set number of columns
  columns: 12,
  // set gutters between columns
  gutters: 0.5,
  //gutter-position: inside,
  global-box-sizing: border-box,
  //output: isolate
  flow: susy-get(flow)
);
$siminars: (
  columns: 12,
  gutters: 5
);
/*break points*/
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

$bp-mobile-to-tablet: $bp-mobile $bp-tablet;
$bp-tablet-to-desktop: $bp-tablet $bp-desktop;

$main-width: 1170px;

/* Header Layout ================================ */

header {
  @include span(12 of 12);

  @include breakpoint($bp-mobile) {
    .site-branding {
      @include span(7 of 12);
    }

    .site-navigation {
      @include span (12 of 12)
    }

    .menu-toggle {
      @include span(2 of 12 last);
    }
  }
  @include breakpoint($bp-tablet) {
    .site-branding {
      @include span(4 of 12);
    }
  }

  @include breakpoint($bp-desktop) {
    .site-branding {
      @include span(3 of 12);
    }

    .site-navigation {
      @include span(9 of 12 last);
    }
  }
}

/* posts Layout ================================ */
.posts {
  @include span(12 of 12);

  .post {
    @include span(12 of 12);

    @include breakpoint($bp-tablet) {
      @include gallery(6 of 12);
    }

    @include breakpoint($bp-desktop) {
      @include gallery(4 of 12);
    }
  }
}

/* Dashboard Layout ================================ */

aside {
  @include span (9 of 12);

  @include breakpoint($bp-desktop) {
    @include span (3 of 12);
  }
}

main {
  @include span (12 of 12);

  @include breakpoint($bp-desktop) {
    @include span (9 of 12 last);
  }
}

/* Misc page ================================ */
.seminars {
  .seminar {
    @include with-layout($siminars) {
      @include span (12 of 12);

      @include breakpoint($bp-tablet) {
        @include span (4 of 12);
      }

      &:last-child {
        @include breakpoint($bp-tablet) {
          @include span (4 of 12 last);
        }
      }
    }
  }
}

.confereces {
  .content-row {
    @include span (12 of 12);

    .left-content {
      @include span (12 of 12);
    }

    .right-content {
      @include span (12 of 12);
    }

    @include breakpoint($bp-tablet) {
      .left-content {
        @include span (6 of 12);
      }

      .right-content {
        @include span (6 of 12 last);
      }
    }
  }
}

/* Misc page ================================ */

.faqs {
  .faq {
    @include span (12 of 12);

    @include breakpoint($bp-tablet) {
      @include gallery (4 of 12);
    }
  }
}

/* about page ================================ */
.page-content {
  .entry-section {
    @include span (12 of 12);

    .about {
      @include breakpoint($bp-desktop) {
        @include span (6 of 12);
      }
    }

    img {
      @include breakpoint($bp-desktop) {
        @include span (6 of 12 last);
      }
    }
  }

  .ieee-hsb {
    img {
      @include span (6 of 12);
    }

    .details {
      @include span (6 of 12 last)
    }
  }
}

/* WIE page ================================ */
/* history ======================= */
.history {
  @include span (12 of 12);

  .left-content {
    @include span (12 of 12);

    @include breakpoint($bp-tablet) {
      @include span (6 of 12);
    }
  }

  .right-content {
    @include span (12 of 12);

    @include breakpoint($bp-tablet) {
      @include span (6 of 12 last);
    }
  }
}

/* vision and mission ======================= */
.vision-mission {
  @include span(12 of 12);

  .vision {
    @include span(12 of 12);

    .left-content {
      @include span (12 of 12);

      @include breakpoint($bp-tablet) {
        @include span (6 of 12);
      }
    }

    .right-content {
      @include span (12 of 12);

      @include breakpoint($bp-tablet) {
        @include span (6 of 12 last);
      }
    }
  }

  .mission {
    @include span(12 of 12);

    .left-content {
      @include span (12 of 12);

      @include breakpoint($bp-tablet) {
        @include span (6 of 12);
      }
    }

    .right-content {
      @include span (12 of 12);

      @include breakpoint($bp-tablet) {
        @include span (6 of 12 last);
      }
    }
  }
}

/* establish-mail ======================= */
.establish-mail {
  @include span(12 of 12);

  .left-content {
    @include span (12 of 12);

    @include breakpoint($bp-tablet) {
      @include span (6 of 12);
    }
  }

  .right-content {
    @include span (12 of 12);

    @include breakpoint($bp-tablet) {
      @include span (6 of 12 last);
    }
  }
}

/* wie-events ======================= */
.wie-events {
  @include span (12 of 12);

  .events-content {
    @include span (12 of 12);

    .events {
      @include span(12 of 12);

      .event {
        @include span(12 of 12);

        @include breakpoint($bp-tablet) {
          &:not(:first-child) {
            @include span (6 of 12)
          }

          &:nth-child(3) {
            @include span (6 of 12 last)
          }

          &:last-child {
            @include span (6 of 12 last)
          }
        }
      }

    }

    .workshops-container {
      @include span(12 of 12);

      @include breakpoint($bp-tablet) {
        .workshops {
          @include span (6 of 12);
        }

        .make {
          @include span (6 of 12 last);

          p {
            @include span (6 of 12);

            &:last-of-type {
              @include span (6 of 12 last);
            }
          }

          img {
            @include span (6 of 12);

            &:first-of-type {
              @include span (6 of 12 last);
            }
          }
        }
      }
      @include breakpoint($bp-desktop) {
        .workshops {
          @include span (5 of 12);
        }

        .make {
          @include span (5 of 12 last);

          p {
            @include span (6 of 12);

            &:last-of-type {
              @include span (6 of 12 last);
            }
          }

          img {
            @include span (6 of 12);

            &:first-of-type {
              @include span (6 of 12 last);
            }
          }
        }
      }
    }
  }
}



/* footer ======================= */
footer{
  @include span(12 of 12);
  .copy-right{
    @include span(12 of 12);
    @include breakpoint($bp-desktop){
      @include span(6 of 12);
    }
  }
  .social-media{
    @include span(12 of 12);
    @include breakpoint($bp-desktop){
      @include span(6 of 12 last);
    }
  }
}


.ras-highboard{
  .board-member{
    @include breakpoint($bp-tablet){
      @include span(6);
      &:last-child{
        @include span(6 last)
      }
    }
  }
}

.competitions{
  .competition{
    @include breakpoint($bp-desktop){
      &:last-of-type{
        @include span (12);
        .competition-description{
          @include span(8)
        }
        .competition-images{
          @include span(4 last)
        }
      }
    }
    @include breakpoint($bp-tablet){
      &:last-of-type{
        @include span (12);
        .competition-images{
          @include span(12);
          img{
            @include gallery(6)
          }
        }
      }
    }
  }
}


.projects{
  @include span (12);
  .project{
    @include span (12);
    .project-data{
      @include span (12);
      @include breakpoint($bp-desktop){
        @include span (8);
      }
    }
    .project-image{
      @include span (12);
      @include breakpoint($bp-desktop){
        @include span (4 last);
      }
    }
  }
}
.ras-events{
  @include span (12);
  .event{
    @include span (12);
    @include breakpoint ($bp-desktop){
      .event-data{
        @include span (8)
      }
      .event-images{
        @include span (4 last)
      }
    }
    
  }
}