.ras-hero-image {
    position: relative;

    .hero-image-content {
        position: relative;
        &::after {
            position: absolute;
            content: 'RAS';
            font-size: 9rem;
            line-height: 1;
            width: 100%;
            height: 100%;
            font-weight: bold;
            color: $white;
            text-align: center;
            @include breakpoint($bp-tablet){
                font-size: 20rem;
            }
            @include breakpoint($bp-desktop){
                font-size: 30rem;
            }
        }
    }

    &::after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $ras_color;
        opacity: 0.3;
    }
}

.ras-history {
    color: $ras_color !important;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    @include breakpoint($bp-tablet){
        font-size: 2.5rem;
    }
    @include breakpoint($bp-desktop){
        font-size: 4rem;
    }
}

.ras-mission {
    padding: 50px 0;
    background-color: $ras_color;
    color: $white;
    text-align: center;

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
        @include breakpoint($bp-desktop){
            font-size: 2rem;
        }
    }
}

.ras-highboard {
    text-align: center;
    color: $ras_color;
    padding: 50px 0;

    .content-wrap {
        >h3 {
            font-size: 1.5rem;
            margin-bottom: 20px;
            @include breakpoint($bp-desktop){
                font-size: 3rem;
            }
        }

        .board-member {
            .member-image {
                border-radius: 50%;
                height: 300px;
                width: 300px;
                background-position: top center;
                margin: 0 auto;
            }
            .member-data{
                margin-top: 20px;
                font-size: 1.5rem;
                h3{
                    font-weight: bold;
                }
                @include breakpoint($bp-desktop){
                    font-size: 2rem;
                }
            }
        }
    }
}

.competitions{
    color: $ras_color;
    h3{
        text-align: center;
        font-size: 2rem;
        @include breakpoint($bp-desktop){
            font-size: 3rem;
        }
        
    }
    .competition{
        .competition-name{
            font-size: 2rem;
            line-height: 1;
            @include breakpoint($bp-desktop){
                font-size: 3rem;
            }
            margin: 40px 0;
        }
        .competition-gallery{
            img{
                margin-top: 20px;
                @include breakpoint($bp-tablet){
                    @include gallery(6 of 12);
                }
                @include breakpoint($bp-desktop){
                    @include gallery(4 of 12);
                    margin-top: 30px;
                }
            }
        }
        .competition-description{
            margin-top: 40px;
        }
        .competition-winner{
            font-weight: bold;
        }
        &:last-of-type{
            font-size: 1rem;
            .competition-description{
                font-size: 1rem;
                @include breakpoint($bp-desktop){
                    font-size: 2rem;
                }
                
                ol{
                    list-style-type: decimal;
                    li{
                        margin-left: 60px;
                    }
                }
            }
            .competition-images{
                img{
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.projects{
    background-color: $ras_color;
    padding: 50px 0;
    color: $white;
    h3{
        text-align: center;
        font-size: 3rem;
    }
    .project{
        .project-name{
            font-weight: bold;
            font-size: 1.5rem;
            @include breakpoint ($bp-desktop){
                font-size: 3rem;
            }
        }
        p{
            font-size: 1rem;
            @include breakpoint ($bp-desktop){
                font-size: 1.5rem;
            }
        }
    }
}

.ras-events{
    color: $ras_color;
    padding: 50px 0;
    h3{
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
        @include breakpoint($bp-desktop){
            font-size: 3rem;
        }
    }
    .event{
        .event-data{
            h4{
                font-weight: bold;
                font-size: 2rem;
                @include breakpoint($bp-desktop){
                    font-size: 3rem;
                }
            }
            .event-description{
                font-size: 1.5rem;  
            }
        }
        .event-images{
            img{
                margin-bottom: 20px
            }
        }
    }
}